%h1 Listing recipes
-# sel poivre riz vin oignon  huile lardons parmesan beurre
%form
  .form-group
    %input.form-control#query{:name => "query", :placeholder => "My ingredients…", :type => "text", :value => "#{params[:query]}"}
  %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Search"}
%p
  %b Count: #{@recipes_count}
%table.table
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= image_tag(recipe.image, size: '100x100') if recipe.image.attached?
        %td
          %b= recipe.name
          - if params[:query].present?
            %br
              = recipe.pg_search_highlight.html_safe
        %td= link_to 'Show', recipe
        %td= link_to 'Edit', edit_recipe_path(recipe)
        %td= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Recipe', new_recipe_path
